<h2 id="page_name" <%= 'itemprop="name"' if step(3) %>>
  <%= data.page.header %>
</h2>
  <div class="grid_5">    
      <%= image_tag 'bell_tower.png', image_tag_options %>    
  </div>  
  <div id="metadata" class="grid_7" 
    <%= 'itemprop="about"' if step(4) %> 
    <%= 'itemscope itemtype="http://schema.org/Photograph"' if step(5) %> 
    <%= 'itemref="main_image"' if step(6) and !step(25) %>
    <%= 'itemref="main_image isPartOf_digital"' if step(25) %>
    >
    <div id="item" class="info">
      <h2>Photograph Information</h2>
      <dl>
        <!-- use for itemref
        <dt>Title</dt>
        <dd>Students jumping in front of Memorial Bell Tower</dd> -->
        
        <dt>Created Date</dt>
        <dd>
          <% if step(7) %><time itemprop="dateCreated" datetime="1981"><% end %>
            circa 1981
          <% if step(7)%></time><% end %>
        </dd>  
        
        <dt>Subjects</dt>
        <dd>
          <a href="#buildings"><%= '<span itemprop="keywords">' if step(5) %>Buildings<%= '</span>' if step(5) %></a><br/>
          <a href="#students"><%= '<span itemprop="keywords">' if step(5) %>Students<%= '</span>' if step(5) %></a><br/>
          <a href="#colleges"><%= '<span itemprop="keywords">' if step(5) %>Universities and colleges<%= '</span>' if step(5) %></a>          
        </dd> 
        
        <dt>Genre</dt>
        <dd>
          <a href="#architectural_photos"><%= '<span itemprop="genre">' if step(5) %>Architectural photographs<%= '</span>' if step(5) %></a><br/>
          <a href="#publicity_photos"><%= '<span itemprop="genre">' if step(5) %>Publicity photographs<%= '</span>' if step(5) %></a>         
        </dd>
        
        <dt>Digital Collection</dt>
        <dd <%= 'itemscope' if step(25)%> >
          <%= '<span itemprop="isPartOf" itemscope itemtype="http://schema.org/CollectionPage" id="isPartOf_digital">' if step(25) %>
            <a href="#uapc" <%= 'itemprop="url"' if step(25) %>><%='<span itemprop="name">' if step(25)%>University Archives Photographs<%= '</span>' if step(25)%>	</a>
          <%= '</span>' if step(25)%>
        </dd> 
      </dl> 
    </div><!-- item -->
    <div id="building" class="info" 
      <%= 'itemprop="about" itemscope itemtype="http://schema.org/LandmarksOrHistoricalBuildings"' if step(8) %>
      <%= 'itemid="http://www.freebase.com/m/026twjv"' %>
    >
      <h2>Building Information</h2>
      <dl>
        <dt>Building Name</dt>
        <dd><a href="#memorial_tower"><%= '<span itemprop="name">' if step(8) %>Memorial Tower<%= '</span>' if step(8)%></a></dd>   
        
        <dt>Description</dt>
        <dd <%= 'itemprop="description"' if step(8) %>>Memorial Tower honors those alumni who were killed in World War I. 
          The cornerstone was laid in 1922 and the Tower was dedicated on 
          November 11, 1949.</dd>
        
        <dt>Address</dt>
        <dd <%= 'itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"' if step(9) %>>
          <% if step(9) %>
            <span itemprop="streetAddress">2701 Sullivan Drive</span><br/>
            <span itemprop="addressLocality">Raleigh</span>, <span itemprop="addressLocality">NC</span> <span itemprop="postalCode">26707</span>
          <% else %>
          2701 Sullivan Drive<br/>
          Raleigh, NC 26707
          <% end %>
        </dd>
        
        <dt>Latitude, Longitude</dt>
        <% if step(9) %>
        <dd itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates"><span itemprop="latitude">35.786098</span>, <span itemprop="longitude">-78.663498</span></dd>
        <% else %>
          <dd>35.786098, -78.663498</dd>
        <% end %>
        
        <dt>Subjects</dt>
        <dd>
          <a href="#towers">Towers</a>                   
        </dd> 
        
      </dl>      
    </div><!-- building -->
    <div id="source" class="info">
      <h2>Source Information</h2>
      <dl>
        <dt>Repository</dt>
        <dd><a href="#scrc">Special Collections Research Center at NCSU Libraries</a></dd>
        
        <dt>Collection</dt>
        <dd><a href="#ua023_005">Memorial Tower (UA023.005.063)</a></dd>
        
        <dt>Rights</dt>
        <dd <%= 'itemprop="http://purl.org/dc/elements/1.1/rights"' if step(11) %>>Reproduction and use of this material requires permission from 
          North Carolina State University.</dd>
      </dl>      
    </div><!-- source -->
  </div>  