<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= "#{title_text} - Step #{@step_num} -" if @step_num %> Microdata and Schema.org Tutorial</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/text.css">
  <link rel="stylesheet" href="/css/960.css">
  <link rel="stylesheet" href="/css/md.css">
 <link rel="stylesheet" href="http://yandex.st/highlightjs/6.1/styles/default.min.css">
<link rel="stylesheet" href="/css/github.css">
  
  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except this Modernizr build incl. Respond.js
       Respond is a polyfill for min/max-width media queries. Modernizr enables HTML5 elements & feature detects; 
       for optimal performance, create your own custom Modernizr build: www.modernizr.com/download/ -->
  <script src="/js/libs/modernizr-2.0.6.min.js"></script>
  
</head>

<body <%= 'itemscope itemtype="http://schema.org/ItemPage"' if step(2) and !step(13) %>>
  <div id="container">
    <header>
      <h1><%= link_to 'Microdata and Schema.org Tutorial', '/' %></h1>
    </header>
    
    
    <% if @step_num and step(1) and !step(13) %>
      <%= partial 'main_content/photograph' %>
    <% end %>
    
    <div id="step_instructions">
      <%= yield %>
    </div>
      
    
    <div id="microdata_items">
      <h2>Microdata Items</h2>
    </div>
    <footer>
      <% if @step_num %>
        <%= link_to "Previous", "/steps/#{@step_num - 1}.html" if @step_num and @step_num != 0 %> |
        <%= link_to "Next", "/steps/#{data.page.step_num + 1}.html" if data.page.step_num %> <br/>
      <% end %>
      <p>
        <%= link_to "Microdata and Schema.org Tutorial", "/" %> by Jason Ronallo.
      </p>
      <p>
        <%= link_to "Get the code.", 'https://github.com/jronallo/microdata_schemaorg_example'%>
      </p>
    </footer>
  </div> <!--! end of #container -->

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>


  <!-- scripts concatenated and minified via build script -->
  <script defer src="/js/plugins.js"></script>
  <script defer src="/js/script.js"></script>
  <script defer src="/js/libs/jquery.microdata.js"></script>
  <script defer src="/js/libs/jquery.microdata.json.js"></script>
  <script src="http://yandex.st/highlightjs/6.1/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <script>
    $(function(){
      //var items = JSON.stringify(jQuery.microdata.json());
      console.log();
      var items = $(document).items();
      var json_items = $.microdata.json(items, function(o) { return JSON.stringify(o, undefined, 2); })
      
      $('#microdata_items').append('<pre><code>' + json_items + '</code></pre>');
    });
  
  </script>

  <!-- end scripts -->


  <!-- Change UA-XXXXX-X to be your site's ID -->
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
